#Bloc
{
    position: relative;

    width: 100%;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    color: var(--color_txt);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Bloc .Back
{
    background-color: var(--black-1);
    position: absolute;
    top: -100px;
    left: -400px;
    opacity: .4;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px var(--black-2);
}


#Bloc .Connect
{
    position: relative;

    width: 100%;
    height: 100vh;
    padding: 30px 25%;

    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

#Bloc .Connect .logo
{
    margin-top: 15px;
    min-width: 60px;
    min-height: 60px;
}

#Bloc .Connect .title_and_txt
{
    text-align: center;
    margin: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Bloc .Connect .title_and_txt h2
{
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#Bloc .Connect .title_and_txt p
{
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
    opacity: .7;
}


#Bloc .Connect form
{
    width: 100%;
}

#Bloc .Connect form .deux_input
{
    margin-bottom: 15px;

    display: flex;
    justify-content: space-between;
}

#Bloc .Connect form .deux_input .part
{
    width: 48%;

    display: flex;
    flex-direction: column;
}

#Bloc .Connect form .deux_input .part label
{
    font-size: 14px;
    opacity: .7;
    margin-bottom: 5px;
}

#Bloc .Connect form .deux_input .part input
{
    border: 1px solid var(--black-3);
    background-color: var(--white-7);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
    color: var(--black-7);

    transition: .3s ease-in-out;
}
#Bloc .Connect form .deux_input input:focus
{
    border: 1px solid var(--blue);
}


#Bloc .Connect form .input_label
{
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
}
#Bloc .Connect form .input_label:last-child
{
    margin-bottom: 0;
}

#Bloc .Connect form .input_label label
{
    font-size: 14px;
    opacity: .7;
    margin-bottom: 5px;
}

#Bloc .Connect form .input_label input,
#Bloc .Connect form .input_label select
{
    border: 1px solid var(--black-3);
    background-color: var(--white-7);
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
    color: var(--black-7);

    transition: .3s ease-in-out;
}
#Bloc .Connect form .input_label input:focus,
#Bloc .Connect form .input_label select:focus
{
    border: 1px solid var(--blue);
}


#Bloc .Connect form .send
{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#Bloc .Connect form .send button
{
    border: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;

    display: flex;
    align-items: center;

    transition: .3s ease-in-out;
}
#Bloc .Connect form .send button:hover
{
    box-shadow: 0 3px 5px 4px var(--black-1);
}


#Bloc .Connect .foot
{
    margin-top: 15px;
    font-size: 14px;
}
#Bloc .Connect .foot span
{
    opacity: .6;
}

#Bloc .Connect .foot a
{
    color: var(--color_txt);
    margin-left: 5px;
}








/** MEDIA QUERY **/
    /**-- Ecran(<991px) --**/
@media all and (max-width: 991px) 
{
    #Bloc .Back
    {
        top: -100px;
        left: -700px;
    }

    #Bloc .Connect
    {
        width: 100%;
        padding: 20px 15%;
    }
}

@media all and (max-width: 771px) 
{
    #Bloc .Connect
    {
        width: 100%;
        padding: 20px 5%;
    }
}
    /**-- #FIN Ecran(<991px) --**/